<!DOCTYPE html>
<html>
<head>
{pyro:theme:partial name="metadata"}
</head>
<body class="inner-page">
	<div id="wrapper">
{pyro:theme:partial name="header"}
		<div id="main">
{pyro:theme:partial name="router"}
		</div>
        <!-- open section#footer -->
{pyro:widget_fetcher:instance id="1"}
        <!-- close section#footer -->
		
        <!--Begin Comm100 Live Chat Code-->
  <script type="text/javascript">
      var Comm100API = Comm100API || new Object;
      Comm100API.chat_buttons = Comm100API.chat_buttons || [];
      var comm100_chatButton = new Object;
      comm100_chatButton.code_plan = 5000001;
      comm100_chatButton.div_id = 'comm100-button-5000001';
      Comm100API.chat_buttons.push(comm100_chatButton);
      Comm100API.site_id = 47054;
      Comm100API.main_code_plan = 5000001;
      var comm100_lc = document.createElement('script');
      comm100_lc.type = 'text/javascript';
      comm100_lc.async = true;
      comm100_lc.src = 'https://chatserver.comm100.com/livechat.ashx?siteId=' + Comm100API.site_id;
      var comm100_s = document.getElementsByTagName('script')[0];
      comm100_s.parentNode.insertBefore(comm100_lc, comm100_s);
  </script>
  <!--End Comm100 Live Chat Code-->
	</div>
    
    <!-- open google analytics script -->
	<script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{pyro:variables:google_analytic_code}']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
    <!-- close google analytics script -->
</body>
</html>