<!DOCTYPE html>
<html>
<head>
{pyro:theme:partial name="metadata"}
</head>
<body class="inner-page">
	<div id="wrapper">
{pyro:theme:partial name="header"}
		<div id="main">
{pyro:theme:partial name="router"}
		</div>
        <!-- open section#footer -->
{pyro:widget_fetcher:instance id="1"}
        <!-- close section#footer -->
		
        <!-- open chat -->
        <a href="http://www.comm100.com/livechat" target="_blank" onclick="comm100_47054.openChatWindow(event,5000001,-1);return false;" class="chat-link"><img style="border:0px" id="comm100_ButtonImage" src="https://chatserver.comm100.com/BBS.aspx?siteId=47054&amp;planId=5000001&amp;partnerId=-1"></img></a>
        <!-- close chat -->
	</div>
    
    <!-- open google analytics script -->
	<script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{pyro:variables:google_analytic_code}']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
    <!-- close google analytics script -->
</body>
</html>