[submodule "addons/default/plugins"]
	path = addons/default/plugins
	url = git://github.com/MiDealerVirtual/plugins
[submodule "addons/default/modules"]
	path = addons/default/modules
	url = git://github.com/MiDealerVirtual/modules
