@charset "UTF-8";
/* CSS Document */

/*GENERAL*/
body {
	margin:0;
	padding:0;
	font-family:Arial, 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
	font-size:13px;
	color:#fff;
	height:100%;
	width:100%;
	background:#000 url(../img/bk_image.jpg) 50% 0 no-repeat fixed;
}
img {
	border:0;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.fl {
	float:left
}
.clear {
	clear:left;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
a {
	outline: none;
}
/* END GENERAL*/

/* BOXES */
#container {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	position:relative;
	z-index:1;
	overflow:hidden;
	background:url(../img/bk.png) 0 0 repeat-x;
	border-top:0px solid #000;
}
#main {
	width:980px;
	height:100%;
	margin:10px auto 0 auto;
	z-index:1;
	position:relative;
	border-left:0px solid #d5d5d5;
	border-right:0px solid #d5d5d5;
	border-bottom:0px solid #d5d5d5;
	background:none;
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px; /* future proofing */
	-khtml-border-radius:0px 0px 5px 5px; /* for old Konqueror browsers *//*	-webkit-box-shadow: #999 0px 3px 3px;
	-moz-box-shadow: #999 0px 3px 3px;
	box-shadow: #999 0px 3px 3px;
	behavior: url(PIE.htc);*/
}
#column_center {
	width:980px;
	height:100%;
	background: url(../img/bk_dot.png) 0 0 repeat;
	padding:0;
	border:0px solid lime;
}
.column_left {
	width:645px;
	height:100%;
	padding:0px;
	margin:0;
	float:left;
	padding:0;
	margin:0;
	border-bottom:0px solid red;
	display:block;
	color:#fff;
}
.column_right {
	width:335px;
	height:100%;
	padding:50px 0 0 0px;
	margin:0 0 0 0px;
	float:right;
	background:/*#3a485a*/url(../img/bk_squares.png) 0 0 repeat;/*background:url(../img/bk_column_right.png) 0 0 repeat-y;*/
}
#header {
	width:980px;
	height:135px;
	margin:0 auto;
	z-index:9999;
	position:relative;
	overflow:visible;
	background:none/*url(../img/image_header.png) 50% 35px no-repeat*/;
}
#footer {
	width:980px;
	margin:10px auto 5px auto;
	z-index:99;
	position:relative;
}
.box_logo a {
	width:475px;
	height:160px;
	float:left;
	display:block;
	overflow:hidden;
	margin:0;
	position:absolute;
	left:-130px;
	top:7px;
	z-index:999;
	background:url(../img/image_logo.png) 0 0 no-repeat;
}
.box_header_links {
	width:790px;
	height:95px;
	float:left;
	margin:5px 0 0 190px;
	overflow:hidden;
	position:relative;
	z-index:9999;
}
.box_home_image {
	width:980px;
	height:365px /*365px*/;
	margin:0;
	display:block;
	float:none;
	z-index:0;
	margin:10px auto;
}
.box_menu {
	width:710px;
	height:35px;
	float:right;
	background:none/*url(../img/bk_menu.png) 0 0 no-repeat*/;
	z-index:9999;
	position:relative;
}
/*.box_map, .box_used, .box_about {
	border:1px solid #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-box-shadow: #ddd 0px 0px 2px;
	-moz-box-shadow: #ddd 0px 0px 2px;
	box-shadow: #ddd 0px 0px 2px;
	behavior: url(PIE.htc);
	margin-bottom:0px;
}*/
.box_map {
	width:298px;
	height:190px;
	padding:0;
	margin:0 0 0 0px;
	float:left;
	display:block;
	position:relative;
	background:url(../img/bk_map.png) 0 bottom no-repeat;
}
.box_map .title {
	background: url(../img/btn.png) 0 -300px no-repeat;
}
.box_used {
	width:383px;
	/*height:200px;*/
	float:left;
	margin:0 0px 0px 0px;
	background:url(../img/bk_used.png) 0 bottom no-repeat;
	position:relative;
	border:0px solid #ddd;
}
.box_about {
	width:298px;
	height:190px;
	float:left;
	background:url(../img/bk_about.png) 0 bottom no-repeat;
	position:relative;
}
.box_about .title {
	background:url(../img/btn.png) 0 -420px no-repeat;
}
.box_about .info {
	height:120px;
	margin:0;
	padding:10px;
	font-size:11px;
	line-height:13px;
	color:#fff;
}
.box_map .btn_2 a, .box_about .btn_2 a, .box_used .btn_2 a {
	position:absolute;
	top:10px;
	right:10px;/*background:red url(../img/btn.png) -230px -730px no-repeat;*/
}
.box_big_buttons {
	width:980px;
	height:110px;
	float:left;
	margin:10px 0px 0 0;
	position:relative;
	z-index:999;
}
.box_ads {
	width:950px;
	height:280px;
	overflow:hidden;
	float:left;
	margin:0 0px;
	padding:50px 0px 0px 30px;
	position:relative;
	background:#0b122e url(../img/bk_ads.png) 0 bottom no-repeat;
	display:none;
}
.box_contact {
	width:300px;
	height:225px;
	float:left;
	margin: 0 0px 0 15px;
}
.box_direction {
	width:300px;
	float:left;
	padding:0 0 0 0px;
	margin:0 0 0 15px;
}
.box_direction strong {
	display:block;
	height:25px;
	line-height:25px;
}
.box_direction .dir_1, .box_direction .dir_2 {
	float:left;
	display:block;
	width:127px;
	height:80px;
	padding:10px;
	line-height:14px !important;
	background:#000;
	color:#fff;
	margin:0;
}
.box_direction .dir_3 {
	float:left;
	display:block;
	width:278px;
	height:40px;
	padding:10px;
	line-height:14px !important;
	background:#000;
	color:#fff;
	margin:5px 0 10px 0;
}
.mr10 {
	margin-right:15px;
}
.mr5 {
	margin-right:5px !important;
}
/* END BOXES */

/* MODS */

.box_header_links ul {
	margin:0 0 0 0px;
}
.box_header_links li {
	float:left;
}
.box_header_links li a {
	display:block;
}
.hl_1 a {
	width:210px;
	height:60px;
	margin:18px 0px 0 0px;
	background:url(../img/icon_multilogo.png) 0px 0px no-repeat;
}
.hl_2 {
	width:260px;
	height:30px;
	margin:34px 0px 29px 80px;
 background:/*url(../img/icon_multilogo.png) -35px -65px no-repeat;*/;
	font-size:11px;
	line-height:11px;
	color:#999;
}
.hl_2 span {
	font-size:22px;
	line-height:24px;
	font-weight:700;
	display:block;
}
.hl_3 a {
	width:175px;
	height:60px;
	margin:18px 0px 0 60px;
	background:url(../img/icon_multilogo.png) 0px -60px no-repeat;
}
/*.hl_4 {
	width:155px;
	height:30px;
	margin:29px 0px 29px 0px;
    background:pink;
	font-size:10px;
	line-height:11px;
}
.hl_4 span {
	font-size:13px;
	line-height:18px;
	font-weight:700;
}
*/
.hl_5 {
	width:50px;
	height:150px;
	margin:0px 0px 0 0px;
	overflow:hidden;
	position:fixed;
	right:0px;
	top:265px;
	z-index:9999;
	display:block;
}
#footer .hl_4 a, #footer .hl_4 {
	position:relative !important;
	width:150px !important;
	height:50px !important;
	margin:0px 0px 0 0px;
	background:url(../img/icon_multilogo.png) 0px -180px no-repeat;
}
/*.hl_5 a:hover, #footer .hl_5 a:hover {
	background:url(../img/icon_multilogo.png) -165px -245px no-repeat;
}
.hl_6 a {
	width:50px;
	height:50px;
	margin:12px 0px 0 0px;
	background:url(../img/icon_multilogo.png) -38px -305px no-repeat;
	
}
.hl_6 a:hover, #footer .hl_6 a:hover {
	background:url(../img/icon_multilogo.png) -163px -305px no-repeat;
}
.hl_7 a {
	width:60px;
	height:50px;
	margin:12px 0px 0 0px;
	background:url(../img/icon_multilogo.png) -33px -365px no-repeat;
}
.hl_7 a:hover {
	background:url(../img/icon_multilogo.png) -158px -365px no-repeat;
}*/


.box_menu ul {
	list-style-type:none;
	margin:0;
	padding:0 0 0 0px;
}
.box_menu li {
	display:inline;
	float:left;
	line-height:35px;
	font-size:11px;
	color:#555;
	font-weight:700;
	text-transform:uppercase;
}
.box_menu a {
	padding:0 10px;
	display:block;
	color:#999 !important;/*text-shadow:1px 1px 1px #333;*/
}
.box_menu a:hover {
	color:#1e89ca !important;
	background:url(../img/icon_menu_hover.png) 50% 0 no-repeat;
}
.box_menu .active a {
	color:#1e89ca !important;
	background:url(../img/icon_menu_hover.png) 50% 0 no-repeat;
}

.rotator {
	width:100%;
	height:375px;
	margin:145px auto 0 auto;
	padding:0;
	display:block;
	position:absolute;
	left:0;/*left:50%;
	margin-left:-490px;*/
}
.header_image_big {
	width:100%;
	height:375px;
	overflow:hidden;
	margin:0px 0 0 0;
	padding:0;
	float:left;
	display:block;
	position:relative;
	border:0px solid lime;
}
.header_image {
	width:625px;
	height:280px;
	margin:0px 0 0 20px;
	padding:0;
	display:block;
	position:relative;
}
.page_header_1 {
	background:url(../img/image_header_1.jpg) 0 0 no-repeat !important;
}
.page_header_2 {
	background:url(../img/image_header_2.jpg) 0 0 no-repeat !important;
}
.page_header_3 {
	background:url(../img/image_header_3.jpg) 0 0 no-repeat !important;
}
.page_header_4 {
	background:url(../img/image_header_4.jpg) 0 0 no-repeat !important;
}
.page_header_5 {
	background:url(../img/image_header_5.jpg) 0 0 no-repeat !important;
}
.page_header_6 {
	background:url(../img/image_header_6.jpg) 0 0 no-repeat !important;
}
.page_header_7 {
	background:url(../img/image_header_7.jpg) 0 0 no-repeat !important;
}
.page_header_8 {
	background:url(../img/image_header_8.jpg) 0 0 no-repeat !important;
}
.page_header_9 {
	background:url(../img/image_header_9.jpg) 0 0 no-repeat !important;
}
.page_header_10 {
	background:url(../img/image_header_10.jpg) 50% 0 no-repeat;
}
.page_header_11 {
	background:url(../img/image_header_11.jpg) 50% 0 no-repeat;
}
.page_header_12 {
	background:url(../img/image_header_12.jpg) 50% 0 no-repeat;
}
.page_header_13 {
	background:url(../img/image_header_13.jpg) 50% 0 no-repeat;
}
.page_header_14 {
	background:url(../img/image_header_14.jpg) 50% 0 no-repeat;
}
.page_header_15 {
	background:url(../img/image_header_15.jpg) 50% 0 no-repeat;
}
.page_header_16 {
	background:url(../img/image_header_16.jpg) 50% 0 no-repeat;
}
.page_header_17 {
	background:url(../img/image_header_17.jpg) 50% 0 no-repeat;
}
.page_header_18 {
	background:url(../img/image_header_18.jpg) 50% 0 no-repeat;
}
.page_header_19 {
	background:url(../img/image_header_19.jpg) 50% 0 no-repeat;
}
.page_header_20 {
	background:url(../img/image_header_20.jpg) 50% 0 no-repeat;
}
.page_header_21 {
	background:url(../img/image_header_21.jpg) 50% 0 no-repeat;
}
.page_header_22 {
	background:url(../img/image_header_22.jpg) 50% 0 no-repeat;
}
.page_header_23 {
	background:url(../img/image_header_23.jpg) 50% 0 no-repeat;
}
.page_header_24 {
	background:url(../img/image_header_24.jpg) 50% 0 no-repeat;
}
.page_header_25 {
	background:url(../img/image_header_25.jpg) 50% 0 no-repeat;
}
/* SLIDESHOW */
#features, #slidingFeatures, #labelFeatures, #basicFeatures, #thumbFeatures {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 375px;
	display:block;
	margin:0 0 0 0;
	border:0px solid red;
}
#features, #slidingFeatures, #labelFeatures, #basicFeatures, #thumbFeatures {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 375px;
	display:block;
}
.jshowoff {
	width: 100%;
	margin:0;
}
.jshowoff div, .jshowoff img, .jshowoff {
}
#basicFeatures, .jshowoff.basicFeatures, .jshowoff.basicFeatures img, .jshowoff.basicFeatures div {
}
.jshowoff .jshowoff-slidelinks {
	width:920px;
	height:30px;
	/*background:url(../img/bk_black.png) 0 0 repeat;*/
	margin:0 auto;
	position: absolute;
	bottom:10px;
	left:50%;
	margin-left:-460px;
	padding: 0;
	text-align:center;
	z-index:9999;
}
.jshowoff-slidelinks a, .jshowoff-controls a {
	width:30px;
	display: block;
	color: #0099ff;
	margin: 0px 0 0 0px;
	float:left;
	text-decoration: none;
	outline: none;
	font-size: 11px;
	font-weight:700;
	padding:0;
	height:30px;
	line-height:30px;
	text-align:center;
	border-bottom:0px solid #c7c7c7;
	border-right:0px solid #c7c7c7;
}
.jshowoff-slidelinks a.jshowoff-active, .jshowoff-slidelinks a.jshowoff-active:hover {
	background:url(../img/bk_number.png) 50% 50% no-repeat;
	color: #fff;
}
p.jshowoff-controls {
	width:20px;
	height:100px;
	line-height:30px;
	overflow:hidden;
	float:left;
	padding: 0;
	margin: 0;
	position:absolute;
	top:120px;
	left:0;
	background:#35414f /*url(../img/bk_black.png) 0 0 repeat*/;
	z-index:9999;
	border-top:0px solid #c7c7c7;
}
.jshowoff-play {
	background:url(../img/icon_control.png) 0 0 repeat;
}
.jshowoff-paused {
	background:url(../img/icon_control.png) 0 -30px repeat;
}
.jshowoff-next {
	background:url(../img/icon_control.png) 0 -60px repeat;
}
.jshowoff-prev {
	background:url(../img/icon_control.png) 0 -90px repeat;
}
.header_image_text {
	width:980px;
	height:375px;
	margin:0px auto;
	color:#b9cbd3;
	text-align:right;
	position:relative;
	z-index:99;/*text-shadow:1px 1px 1px #333;*/
}
.header_small_box {
	position:absolute;
	right:0px;
	top:15px;
	width:280px;
	padding:15px 15px 0 30px;
	/*background:url(../img/bk_small_box.png) 0 0 no-repeat;*/
}
.header_small_box .btn_2 a {
	margin:20px 0 0 0;
	width:125px;
	float:right;
}
.header_small_box li {
	margin:0 0 3px 0;
}
.small_box_solid {
	width:250px;
	font-size: 15px;
	font-weight:700;
	padding:0px 0px;
}
.t_1 .small_box_solid {
	color:#dfdb21 !important;
}
.t_2 .small_box_solid {
	color:#ff9900 !important;
}
.t_3 .small_box_solid {
	color:#a6cb37 !important;
}
.t_4 .small_box_solid {
	color:#2d88ec !important;
}
.t_5 .small_box_solid {
	color:#cc0000 !important;
}
.small_box_btn {
/*height:30px;
	display:block;
	line-height:30px;
	padding-left:35px;*/
	/*background:url(../img/btn.png) 0 -820px no-repeat;*/
}
.small_box_btn a:hover {
/*background:url(../img/btn.png) 0 -850px no-repeat;*/
}
.header_small_box h2 {
	padding:0;
	height:30px;
	line-height:30px;
}
/* END SLIDESHOW */

.bk_image {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;
	z-index:0;
}
.bk_1 {
	background:#2f2047 url(../img/home_image_1.jpg) 50% 0 no-repeat;
}
.bk_2 {
	background:#3f4952 url(../img/home_image_2.jpg) 50% 0 no-repeat;
}
/* MOD NEW CAR*/
	
.box_new {
	width:980px;
	margin:0 0 0px 0;
	padding:0;
	display:block;
	position:relative;
	z-index:999;
	float:left;
	border-bottom:0px solid lime;
	background:url(../img/bk_cat.png) 0 bottom no-repeat;
}
.box_new_categories {
	width:830px;
	height:200px;
	overflow:hidden !important;
	margin:0 75px 10px 75px;
	padding:0 0 0 0px;
	border-bottom:0px solid red;
	display:block;
	float:left !important;
	z-index:0;
	position:relative;
}
.box_new_categories ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.box_new_categories li {
	width:275px;
	height:200px;
	float:left;
	display:block;
	text-align:left;
	padding:0;
	margin:0 0px 0 0px;
	overflow:hidden;
}
.box_new_categories li a {
	margin:0 0px 0 0;
	width:275px;
	display:block;
	border-top:0px;
	font-size:24px;
	font-weight:700;
	padding:150px 0 0 0px;
	text-decoration:none;
	border:0px solid red;
	text-align:center;
	text-transform:uppercase;
	overflow:hidden;
	color:#fff !important;
}
/* slide 1 */
.cat_1 {
	margin-right:8px !important;
	background:url(../img/cat_all.png) 0 0 no-repeat;
}
.cat_2 {
	margin-right:8px !important;
	background:url(../img/cat_all.png) 0 -200px no-repeat;
}
.cat_3 {
	margin-right:8px !important;
	background:url(../img/cat_all.png) 0 -400px no-repeat;
}
.cat_4 {
	margin-right:8px !important;
	background:url(../img/cat_all.png) 0 -600px no-repeat;
}
.cat_5 {
	background:url(../img/cat_all.png) 0 -800px no-repeat;
}
/* slide 2 */
.cat_6 {
	margin-right:9px !important;
	background:url(../img/cat_all.png) 0 -1000px no-repeat;
}
.cat_7 {
	margin-right:10px !important;
	background:url(../img/cat_all.png) 0 -1200px no-repeat;
}
.cat_8 {
	background:url(../img/cat_all.png) 0 -1400px no-repeat;
}
/* slide 3 */
.cat_9 {
	margin-right:9px !important;
	background:url(../img/cat_all.png) 0 -1600px no-repeat;
}
.cat_10 {
	margin-right:9px !important;
	background:url(../img/cat_all.png) 0 -1800px no-repeat;
}
.cat_11 {
	margin-right:9px !important;
	background:url(../img/cat_all.png) 0 -2000px no-repeat;
}
.cat_12 {
	margin-right:9px !important;
	background:url(../img/cat_all.png) 0 -2200px no-repeat;
}
.cat_13 {
	margin-right:9px !important;
	background:url(../img/cat_all.png) 0 -2400px no-repeat;
}
.cat_14 {
	margin-right:9px !important;
	background:url(../img/cat_all.png) 0 -2800px no-repeat;
}
.cat_15 {
	margin-right:9px !important;
	background:url(../img/cat_all.png) 0 -3000px no-repeat;
}
.box_new_categories li span {
	display:block;
	font-size:11px;
	font-weight:700;
	color:#01aeeb;
}
/*.mod_new_categories li img {
	margin:0 auto;
}*/
.previous a {
	width:55px;
	height:160px;
	position:absolute;
	left:-20px;
	bottom:50px;
	overflow:hidden;
	background:url(../img/btn.png) 0 -635px no-repeat;
	z-index:99999;
	color:#4d5c6e !important;
}
.previous a:hover {
	background:url(../img/btn.png) -55px -635px no-repeat;
}
.previous a:active {
	background:url(../img/btn.png) -110px -635px no-repeat;
}
.next a {
	width:55px;
	height:160px;
	position:absolute;
	right:-20px;
	bottom:50px;
	z-index:99999;
	overflow:hidden;
	background:url(../img/btn.png) -165px -635px no-repeat;
	display:block;
	color:#4d5c6e !important;
}
.next a:hover {
	background:url(../img/btn.png) -220px -635px no-repeat;
}
.next a:active {
	background:url(../img/btn.png) -275px -635px no-repeat;
}
.slider {
	width:980px;
	height:60px;
	display:block;
	position:relative;
	background:url(../img/bk_slider.png) 0 0 no-repeat;
	float:left;
}
.slider ul {
	width:980px;
	height:60px;
	margin:0;
	padding:0;
}
.slider .btn_2 a {
	position:absolute;
	top:15px;
	right:290px;
}
.slider li a {
	width:95px;
	display:block;
	float:left;
	height:50px;
	line-height:50px;
	text-transform:uppercase;
	font-size:24px;
}
.slider_1 a {
	display:block;
	background:url(../img/icon_slider.png) 0 0px no-repeat;
	margin:10px 0 0 300px;
	padding: 0 20px 0 60px;
}
.slider_1 a:hover {
	background:url(../img/icon_slider.png) 0 -50px no-repeat;
}
.slider_2 a {
	display:block;
	background:url(../img/icon_slider.png) 0 -100px no-repeat;
	margin:10px 0 0 20px;
	padding: 0 20px 0 60px;
}
.slider_2 a:hover {
	background:url(../img/icon_slider.png) 0 -150px no-repeat;
}
/*.box_new .title a {
	width:168px;
	background:url(../img/btn.png) 0 -240px no-repeat;
	margin:0 0 0px 0;
	float:left;
	display:none;
}*/

.title a {
	font-size:20px;
	font-weight:400;
	padding:0 0 0 10px;
	height:50px;
	line-height:50px;
	display:block;
}
.box_map .map a {
	display:block;
	width:278px;
	height:120px;
	margin:10px 0 0 10px;
	background:url(../img/image_map.png) 0 0 no-repeat;
}
.box_used .info {
	width:100%;
	height:130px;
	margin:0;
	padding:5px;
	position:relative;
}
.box_used .info .btn_2 a {
	display:none;
}
.box_used .title a {
	background:url(../img/btn.png) 0 -360px no-repeat;
}
.box_used .thumb {
	float:left !important;
	margin:5px 1px 2px 3px;
}
.big_button_1 a, .big_button_2 a, .big_button_3 a {
	text-transform:uppercase;
	font-weight:700;
	padding:90px 0 0 0 !important;
	overflow:hidden;
	display:block;
	width:315px;
	height:20px;
	float:left;
	position:relative;
}
.big_button_1 a {
	background:url(../img/btn_big.png) 0 0px no-repeat;
	margin:0 18px 0px 0px;
	
	}
.big_button_2 a {
	background:url(../img/btn_big.png) 0 -110px no-repeat;
	margin:0 17px 0 0;
}
.big_button_3 a {
	background:url(../img/btn_big.png) 0 -220px no-repeat;
	margin:0 0 0 0;
}
/*
.big_button_4 a {
	width:236px;
	height:100px;
	background:url(../img/btn_big.png) 50% -330px no-repeat;
	float:left;
	margin:0 0 0 2px;
	padding:0;
}*/
.ad_1 {
	width:300px;
	height:250px;
	float:left;
	/*background:url(../img/bk_ad_1.png) 0 0 no-repeat;*/ 
	margin:0 0 0 0px;
	overflow:hidden;
}
.ad_1 iframe a {
	color:#0099ff !important;
}
.ad_2 {
	width:300px;
	height:250px;
	float:left;
	/*background:url(../img/bk_ad_2.png) 0 0 no-repeat;*/
	margin:0 0 0 10px;
}
.ad_3 {
	width:300px;
	height:250px;
	float:left;
	margin:0 0 0 10px;
}
.fb-like-box a {
	color:#fff !important;
}
.btn_1 a {
	display:block;
	height:30px;
	line-height:30px;
	padding: 0 0 0 35px;
	background:#fff url(../img/btn.png) 0 -820px no-repeat;
}
.btn_1 a:hover {
	background:#11ade5 url(../img/btn.png) 0 -850px no-repeat;
	color:#fff !important;
}
.btn_2 a {
	height:30px;
	line-height:30px;
	padding-right:24px;
	margin:0;
	display:block;
	overflow:hidden;
	background:url(../img/btn.png) right -830px no-repeat;
	font-weight:700;
	font-size:13px;
	text-transform:uppercase;
}
.btn_2 span {
	background:url(../img/btn.png) left -800px no-repeat;
	display:block;
	padding-left:10px;
	height:30px;
	line-height:30px;
	text-align:left;
}
.btn_2 a:hover {
	background:url(../img/btn.png) right -890px no-repeat;
}
.btn_2 a:hover span {
	background:url(../img/btn.png) left -860px no-repeat;
	display:block;
	height: 30px;
	line-height:30px;
}
.btn_3 a {
	width:110px;
	float:left;
	display:block;
	height:30px;
	line-height:30px;
	padding:0 0px 0 15px;
	background:url(../img/btn.png) 0px -920px no-repeat;
	text-transform:capitalize;
	font-weight:700;
	text-align:left;
	font-size:12px;
}
.btn_3 a:hover {
	background:url(../img/btn.png) 0px -950px no-repeat;
}
.btn_3 a:active {
	background:url(../img/btn.png) 0px -980px no-repeat;
}
btn_mas a {
	float:left;
	height:35px;
	line-height:35px;
	padding-right:20px;
	margin:15px 0 5px 0;
	display:block;
	background:url(../img/btn.png) right -800px no-repeat;
	font-weight:700;
	font-size:14px;
	text-shadow:none;
	z-index:999;
}
.btn_mas span {
	background:url(../img/btn.png) no-repeat;
	display:block;
	padding-left: 30px;
	height: 35px;
	line-height:35px;
}
.btn_mas a:hover {
	background:url(../img/btn.png) right -105px no-repeat;
	text-decoration:none !important;
}
.btn_mas a:hover span {
	background:url(../img/btn.png) 0 -70px no-repeat;
	display:block;
	padding-left: 30px;
	height: 35px;
	line-height:35px;
}
.box_sitemap {
	width:940px;
	float:left;
	margin:0 0 20px 0;
}
.box_sitemap ul {
	float:left;
	width:230px;
	padding:0 0px 10px 0;
	overflow:hidden;
}
.box_sitemap h2 {
	font-size:18px;
	width:230px !important;
	color:#fff !important;
	padding:0 !important;
	text-transform:capitalize;
}
/* FOOTER */
.box_footer {
	width:980px;
	padding:0px 0 0px 0px;
	font-size:11px;
}
.box_footer ul {
	width:100%;
	float:left;
	margin:0px 0 0 0px;
	color:#fff;
}
.box_footer li /*, .box_footer li a */ {
	width:150px;
	display:block;
	float:left;
	font-weight:700;
	margin:0 6px 0 7px;
}
.box_footer ul ul {
	margin:0;
	padding:0;
}
.box_footer ul ul li, .box_footer ul ul li a {
	margin:0;
	padding:0;
	font-weight:400;
	line-height:16px;
}
#footer .hl_4 a {
	display:block;
	float:left;
}
#footer .hl_5 a {
	width:140px;
	display:block;
	float:left;
}
#footer .hl_6 a {
	display:block;
	float:left;
}
.box_footer .t0 {
	font-size:10px;
	line-height:10px;
	margin:0 0 3px 0;
	color:#fff !important;
}
.box_footer input {
	border:1px solid #01aeeb !important;
	height:17px !important;
	width:100px !important;
	float:left;
	padding:0 !important;
	font-size:10px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important; 
	-khtml-border-radius: 0px !important; 
}
.box_footer .btn_footer a {
	width:30px;
	background:#01aeeb;
	float:left;
	height:19px;
	line-height:19px;
	color:#fff !important;
	text-align:center;
	display:block;
}
/*.box_footer .btn_footer a:hover {
	background:#999;
	color:#fff !important;
}*/
.box_footer .extra {
	font-size:14px;
	font-weight:700;
}
.footer_image {
	display:none;
	width:100%;
	height:400px;
	margin:0px auto;
	z-index:0;
	border-bottom:1px solid #ddd;
}
#copyright {
	padding:20px;
	margin:0 auto 0px auto;
	text-align:left;
	font-size:10px !important;
	z-index:1;
	color:#999 !important;
	position:relative;
	background:#3a485a;
	text-transform:uppercase;
}
.logo_mdv a {
	position:absolute;
	right:0;
	top:8px;
	width:175px;
	height:50px;
	display:block;
	background:url(../img/logo_mdv.png) right 50% no-repeat;
}
#copyright a {
	color:#fff !important;
}
/* FOOTER */	
	
/* CONTENT */
.content {
	margin:0;
	border:0px solid red;
	padding:0px 20px 20px 20px;
}
.mod_filters {
	width:980px;
	padding:15px 0 0 0;
	margin:0px 0 20px 0;
	background:url(../img/bk_squares.png) 0 0 repeat;
	position:relative;
}
.box_top_center {
	width:980px;
	position:relative;
	border-top:0px solid lime;
}
.box_top_left {
	width:645px;
	position:relative;
	margin:0px 0 0px 0;
}
/*h2.inventory_new {
	height:60px;
	line-height:60px;
	color:#0099ff;
	font-size: 16px;
}
h2.inventory_used {
	height:60px;
	line-height:60px;
	color:#0099ff;
	font-size: 16px;
}*/

/*h2.parts {
	height:60px;
	line-height:60px;
	color:#0099ff;
}
h2.about {
	height:60px;
	line-height:60px;
	color:#0099ff;
}
h2.contact {
	height:60px;
	line-height:60px;
	color:#0099ff;
}
h2.time {
	background:url(../img/btn.png) 10px -60px no-repeat;
	font-size: 16px;
}
h2.directory {
	background:url(../img/btn.png) 10px -120px no-repeat;
	font-size: 16px;
}
h2.finance {
	height:60px;
	line-height:60px;
	color:#0099ff;
}
h2.ofertas {
	height:60px;
	line-height:60px;
	color:#0099ff;
}
h2.tradein {
	height:60px;
	line-height:60px;
	color:#0099ff;
}
h2.site {
	height:60px;
	line-height:60px;
	color:#0099ff;
}
h2.opps {
	height:60px;
	line-height:60px;
	color:#0099ff;
}*/
.box_similares {
	background:none;
}
.box_similares_result {
	border-top:0px solid #1e89ca;
	width:285px !important;
	float:left;
	padding:7px;
	display:block;
	margin:0 0 10px 13px;
	position:relative;
	background:#000 /* url(../img/bk_result.png) 0 bottom repeat-x*/;
}
.box_similares_result:hover {
	background:#3a485a url(../img/icon_arrow.png) 275px 50% no-repeat;
	color:#fff !important;
}
.box_similares_title {
	font-size:14px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	display:block;
	float:left;
	width:125px;
	margin:0 0 0 10px;
}
.box_similares_year {
	font-size:12px;
	display:block;
	color:#fff;
	float:left;
	width:125px;
	margin:0 0 0 10px;
}
.box_similares_thumb a {
	display:block;
	width:86px;
	height:57px;
	line-height:66px;
	overflow:hidden;
	position:relative;
	background:#fff;
	z-index:1;
	margin:0;
	padding:0;
	float:left;
}
.box_similares_thumb a img {
	float:left;
	position:absolute;
	top:0;
	left:0;
	height:57px;
	width:86px;
	padding:0px;
}
/* END MOD INVENTARIO SIMILARES*/

/* MOD ADS RIGHT*/
.box_ads_right {
	width:300px;
	/*height:550px;*/
	margin:0px 0 0 15px;
}
.box_ads_right .ad_1, .box_ads_right .ad_2 {
	width:300px;
	/*height:250px;*/
	float:left;
	background:none;
	margin:0 0 10px 0px;
}
/* MOD ADS RIGHT*/


/*
.mod_filters_search {
	width:362px;
	height:30px;
	overflow:hidden;
	margin:0;
	position:absolute;
	right:15px;
	top:10px;
}
.mod_filters_search input {
	width:220px;
	float:left;
	margin:0 5px 0 0;
}*/
.mod_filters_selects {
	width:940px;
	display:block;
	padding:5px 0 5px 5px;
	/*border:1px solid #ddd;
	background:#f1f1f1 url(../img/image_filters_bk.png) 0 0 no-repeat;*/
	overflow:hidden;
	margin:0 15px 0 20px;
	position:relative;/*-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	-khtml-border-radius: 5px; 
	-webkit-box-shadow: #ddd 0px 0px 2px;
	-moz-box-shadow: #ddd 0px 0px 2px;
	box-shadow: #ddd 0px 0px 2px;
	behavior: url(PIE.htc); */
}
.mod_filters_selects select {
	font-size:15px;
	padding:4px 2px;
	margin:0 5px 0 0;
	float:left;
	border:2px solid #25313f;
	font-family:arial;
	background:#35414f;
	color:#fff;
}
.w_1 {
	width: 70px;
}
.w_2 {
	width: 105px;
}
.w_3 {
	width: 105px;
}
.w_4 {
	width: 120px;
}
.w_5 {
	width: 120px;
}
.w_6 {
	width: 105px;
}
.w_7 {
	width: 100px;
}
.bk_select {
	background:#f1f1f1;
}
.mod_filters_sort {
	height:60px;
	padding:0;
	position:relative;
	border-bottom:0px solid #ededed;
}
.mod_filters_sort ul {
	height:40px;
	line-height:40px;
	padding:20px 0 0 0px;
	overflow:hidden;
}
.mod_filters_sort li {
	display:inline;
	float:left;
	padding:0 0px 0 20px;
	margin:0;
	font-size:13px;
	color:#ccc !important
}
/*.mod_filters_sort li a{ color:#fff}
.mod_filters_sort li a:hover{ color:#0099ff}
*/
.mod_filters_sort li.sort_up a {
	background:url(../img/icon_sort_up.png) right 50% no-repeat;
	padding:0 12px 0 0
}
.mod_filters_sort li.sort_down a {
	background:url(../img/icon_sort_down.png) right 50% no-repeat;
	padding:0 12px 0 0
}
.icon_squared a {
	width:60px;
	height:40px;
	line-height:40px;
	display:block;
	margin:0px 0px 0 0 !important;
	padding:0 0 0 40px !important;
	float:left;
	overflow:hidden;
	background:url(../img/icon_view.png) 0 -120px no-repeat;
}
.icon_squared a:hover {
	background:url(../img/icon_view.png) 0 -160px no-repeat;
}
.icon_squared.active a {
	color:#999;
	background:url(../img/icon_view.png) 0 -200px no-repeat;
}
.icon_list a {
	width:60px;
	height:40px;
	line-height:40px;
	display:block;
	margin:0px 0px 0 30px !important;
	padding:0 0 0 40px !important;
	float:left;
	overflow:hidden;
	background:url(../img/icon_view.png) 0px 0px no-repeat;
	z-index:30;
}
.icon_list a:hover {
	background:url(../img/icon_view.png) 0px -40px no-repeat;
}
.icon_list.active a {
	color:#999;
	background:url(../img/icon_view.png) 0px -80px no-repeat;
}
li.icon_squared {
	padding:0 20px 0 0!important;
}
li.icon_list {
	padding:0 5px 0 15px !important;
}
.box_addthis {
	width:170px !important;
	position:absolute;
	bottom:8px;
	right:0px;
}
.print_view {
	float:right;
	width:55px;
	height:30px;
	padding:0 0 0 30px;
	font-size: 11px;
	background: url(../img/icon_print.png) 0 0 no-repeat;
}
.thumb_med_tools {
	width:340px;
	height:40px;
	margin:10px 0 0 0;
	position:relative;
	display:none;
	float:left;
}
.thumb_med_tools .previous a {
	left:10px;
	top:5px;
}
.thumb_med_tools .next a {
	right:10px;
	top:5px;
}
.box_tabs {
	margin:10px 0 -1px 0;
	padding:10px 0 0 0px;/*background:url(../img/bk_squares.png) 0 0 repeat;*/
}
.tabs li a {
	width:190px;
	text-align:center;
	font-size:16px;
	float:left;
	display:block;
	margin:0 5px 0 0;
	height:50px;
	line-height:50px;
	padding:0px;
	text-transform:uppercase;
	/*border-top:1px solid #d9d9d9;
	border-left:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;*/
	background:#none /*url(../img/icon_tabs.png) 0 0px no-repeat*/;
}
.tabs li a:hover {
	border-bottom:0px solid #fff;
	background:#1e89ca /*url(../img/icon_tabs.png) 0 -50px no-repeat*/;
	color:#fff !important;
}
.tabs li.active a, .tabs li.active a:hover {
	background:#35414f /*url(../img/icon_tabs.png) 0 -100px no-repeat*/;
	color:#fff !important;
	border-bottom:0px solid #fff;
}
.mpg {
	font-size:18px;
}
.box_detail_address {
	width:297px;
	float:left;
	font-size:13px;
}
.box_detail_map {
	width:238px;
	float:left;
}
.detail_inner_box {
	width:280px;
	float:left;
}
.thumb, .thumbs {
	width:90px;
	margin:0 auto;
	padding:0px;/*clear:left;*/
}
/*.thumbs {
	width:86px;
	margin:0 auto;
	padding:0px 0;
}*/

.thumb a, .thumbs a {
	display:block;
	width:86px;
	height:57px;
	line-height:66px;
	overflow:hidden;
	position:relative;
	background:#fff;
	z-index:1;
	margin:0;
	padding:0;
}
.thumb a img, .thumbs a img {
	float:left;
	position:absolute;
	top:0;
	left:0;
	height:57px;
	width:86px;
	padding:0px;
}
/*LIST*/
.list .box_result {
	width:928px;
	border:1px solid #35414f;
	text-align:left;
	padding:5px;
	background:none /* url(../img/bk_result.png) 0 bottom repeat-x*/;
	margin:0 0 7px 0;
	display:block;
	position:relative;
	color:#fff;
}
.list .box_result:hover {
	background:#35414f;
}
.list .thumb {
	margin:0 22px 0 0;
	float:left;
}
.list .thumbs {
	margin:0 18px 0 0;
	float:left;
}
.list .box_result .info {
	width:480px;
	font-size:12px;
	height:57px;
	overflow:hidden;
	float:left;
}
.list .info ul {
	float:left;
	width:160px;
	margin:0 0px 0 0;
}
.list .info li {
	padding:0;
	margin:0;
	line-height:16px;
	overflow:hidden;
}
.list .box_result .result_title {
	font-size:16px;
	font-weight:700;
	text-align:left !important;
	height:25px;
	line-height:25px;
}
.list .box_result .price {
	width:170px;
	overflow:hidden;
	float:left;
	padding:2px 5px;
	margin:15px 0px 0 0px;
	border:0px solid #789717;
	background:none/*#f9f9f9 e3eacd*/;
	font-size:12px;
}
.price strong {
	color:#090;
}
.price span {
	font-size:14px;
	display:block;
	color:#090;
	font-weight:700;
}
.list .box_result .price span {
	font-size:12px;
	display:block;
	color:#090;
	font-weight:700;
}
.list .box_result .details {
	width:145px;
	margin:0;
	height:50px;
	display:block;
	position:relative;
	float:left;
}
.list .box_result .details .btn_3 a {
	width:125px;
	position:absolute;
	right:10px;
	top:17px;
}
/*squared*/
.squared .box_result {
	width:212px;
	border:1px solid #35414f;
	text-align:center;
	padding:7px 7px 15px 7px;
	background:none /*url(../img/bk_result.png) 0 bottom repeat-x*/;
	margin:0 4px 10px 3px;
	float:left;
	position:relative;
	color:#fff;
}
.squared .box_result li {
	height:18px;
	line-height:18px;
	overflow:hidden;
}
.squared .box_result .details .btn_3 a {
	margin:10px 40px;
}
.squared .box_result .info {
	font-size:12px;
	line-height:20px;
}
.squared .box_result .price {
	width:212px;
	overflow:hidden;
	float:left;
	padding:0px;
	margin:0px 0px 0 0;
	font-size:13px;
	text-align:center;
}
.squared .box_result .result_title {
	width:212px;
	height:20px;
	overflow:hidden;
	font-size:13px;
	font-weight:700;
}
.squared .thumbs {
	margin:10px auto;
	float:none;
}
.squared .box_result:hover {
	background:#35414f;
}
/*squared*/

.pagination {
	height:30px;
	line-height:30px;
	margin:8px auto 0 auto;
	padding:0px 0 0 5px;
	text-align:center;
	border:2px solid #25313f;
	background:#35414f;
	/*background:url(../img/bk_pagination.png) 0 0 repeat;*/
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; /* future proofing */
	-khtml-border-radius: 2px; /* for old Konqueror browsers */
	behavior: url(PIE.htc);
}
.pagination ul {
	margin:0 !important;
	padding:0;
	list-style-type:none;
}
.pagination li {
	display:inline;
	margin:0 !important;
	padding:0 !important;
	background:none !important;
}
.pagination li a {
	float:left;
	padding:0 20px !important;
	border-right: 0px solid #000;
	display:block;
	text-align:center;
	font-weight:400;
	font-size:16px;
	color:#fff !important;
}
.pagination li .active, .pagination li.active a {
	background:#00aeef !important;
	font-weight:400;
	color:#ddd !important;
}
.pagination li a:hover {
	background:#1e89ca !important;
	color:#fff !important;
}
.sort_numbers .pagination {
	height:30px;
	margin:5px 0 0 0px;
	overflow:hidden;
	position:relative;
}
.sort_numbers .pagination li {
	line-height:30px;
	color:#fff !important;
}
.sort_numbers .pagination li a {
	padding:0px 10px !important;
	font-size:12px !important;
	line-height:30px;
}
.sort_numbers .pagination span {
	font-size:18px !important;
}
.sort_numbers .pagination ul {
	margin:0 !important;
	padding:0;
	list-style-type:none;
	margin:0;
}
.box_detail_1 {
	width:255px;
	float:left;
	margin:0 0px 0 0px;
	padding:0 0 0 0px;
	overflow:hidden;
	height:226px;
	font-size:16px
}
.box_detail_1 .price {
	width:255px;
	overflow:hidden;
	margin:0 0 0 10px;
}
.box_detail_2 {
	width:340px;
	height:226px;
	float:left;
	display:block;
	overflow:hidden;
	margin:0 0px 0px 0;
}
.box_detail_3 {
	width:340px;
	height:40px;
	float:left;
	padding:0;
	margin:0px 0 0 0;
	background:url(../img/icon_thumbs_bk.png) -5px -4px no-repeat;
}
.box_detail_1 li {
	border-bottom:1px solid #2f3a47;
	padding:3px 0;
	margin:0 0 0 10px;
	color:#819bbb;
}
.box_detail_3 span {
	font-size:.875em;
	display:block;
	padding:0;
	margin:0px 0px;
}
.box_detail_4 {
	width:580px;
	border:0px solid #d8d8d8;
	padding:10px;
	background:#35414f /*url(../img/bk_detail.png) 0 0 repeat-x*/;
	color:#fff;
}
.box_detail_4 ul {
	padding:0;
	margin:0;
	list-style-type:none !important;
}
.box_detail_4 li {
	padding:2px 20px;
	background:url(../img/carrot_arrow.png) 0 0px no-repeat;
	list-style-type:none !important;
}
.thumb_tiny {
	width:52px;
	height:35px;
	padding:0px;
	margin:2px 3px 0px 0px;
	border:0px solid #ddd;
	display:block;
	float:left;
	overflow:hidden;
}
.thumb_med a {
	width:340px;
	height:226px;
	margin:0 0px 0px 0;
	display:block;
	overflow:hidden;/*background:url(../img/front_s2/icon_zoom.png) 0 bottom no-repeat*/
}
.column_left p {
	line-height:26px;
}
.bullets li {
	padding:2px 20px;
	background:url(../img/carrot_arrow.png) 0 50% no-repeat;
}
.btn_close a {
	width:30px;
	height:30px;
	overflow:hidden;
	float:left;
	margin:0 0 0 5px;
	background:url(../img/btn.png) 0px -1010px no-repeat;
}
.btn_close a:hover {
	background:url(../img/btn.png) 0px -1040px no-repeat;
}
.btn_close a:active {
	background:url(../img/btn.png) 0px -1070px no-repeat;
}
.alert_1 {
	padding:25px 10px 25px 100px;
	background:#00aeef url(../img/btn.png) 0px -1160px no-repeat;
	border:0px solid #00aeef;
	font-size:24px;
	font-weight:700;
	color:#fff;
	position:relative;
}
.image_location_1 a {
	width:265px;
	height:130px;
	padding:0;
	margin:0 8px;
	display:block;
	background:url(../img/image_map.png) 0 0 no-repeat;
}
/*.chat a, .chat a:hover {
	width:60px;
	height:175px;
	position:fixed;
	top:180px;
	right:0;
}*/

/* CONTENT  */


/* FORMS */
form {
	margin:0;
	padding:0;
	overflow:hidden;
}
input, input[type="text"] {
	width:250px;
	padding:6px 5px;
	margin:0 0 0px 0;
	font-size:16px;
	color:#000;
	font-family:arial;
	overflow:hidden;
	display:inline;
	border:2px solid #25313f;/*display:block;*/
	background:#fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-khtml-border-radius: 3px;
	behavior: url(PIE.htc);
}
.alternate {
/*background:#f9f9f9;*/
}
.lrg {
	width:750px;
}
.med {
	width:250px;
}
textarea.med {
	width:260px;
}
.sml {
	width:125px !important;
}
.tiny {
	width:50px !important;
}
textarea {
	border:1px solid #ddd;
	height:60px;
	font-family:arial;
	color:#666;
	font-size:16px;
	background:#dce8f4;
	border:2px solid #25313f;/*display:block;*/
	background:#fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-khtml-border-radius: 3px;
	behavior: url(PIE.htc);
}
select {
	margin:0 5px 0 0;
	font-size:15px;
	padding:4px;
	background:#dce8f4;
	font-family:arial;
	color:#666;
	border:0px solid #25313f;/*display:block;*/
	background:#fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	behavior: url(PIE.htc);
}
label {
	display:block;
	font-weight:700;
	margin:0;
	color:#819bbb;
	font-size:14px;
	line-height:19px;
}
label span {
	color:#cc3300;
	font-size:15px;
	line-height:13px;
}
input:focus, textarea:focus {
	background:#dce8f4;
}
/*FORMS*/

/* TABLES */

table {
	width:100%;
	border:0px solid #ddd;
	padding:0;
	margin:0 0 20px 0;
}
th {
	border:0px solid red;
	text-align:center;
	background:#ededed;
	padding:5px 0;
}
td {
	border-bottom:1px solid #2f3a47;
}
.box_detail_4 td {
	border-top:0px dotted #ddd;
	padding:10px 0;
	overflow:hidden;
}
.t_first {
	width:20px;
	background:#f9f9f9;
}
.t_second {
	width:86px;
	padding:0 5px;
}
div.hr {
	width:950px;
	height:10px;
	margin:10px 0;
	background:url(../img/front_s2/image_hr.png) 0 0 no-repeat;
	border:0px !important;
	overflow:hidden;
	float:left;
}
/* TABLES */

/*Right Mods*/

.image_tiny {
	margin:0 20px 0 15px;
	font-size:12px;
}
.image_tiny ul {
	/*height:100px;*/
	padding:0 0 10px 0 !important;
	margin:0 0 10px 0;
	overflow:hidden;
	position:relative;
	color:#ddd;
	background:#000;
	border-top:3px solid #1e89ca;
}
.image_tiny ul a {
	font-size:.875em !important
}
.image_tiny li {
	float:left;
	width:240px;
	margin:0px 0 0 0;
	padding:2px 0 0px 10px;
	display:inline;
}
.image_tiny img {
	position:absolute;
	right:0;
	top:0;
	float:left;
	width:80px;
	margin:0 0 0 0 !important;
	padding:0 !important;
	border:0px solid red;
	height:90px;
	overflow:hidden;
}
.image_tiny .first {
	padding:0 10px;
	height:30px;
	line-height:30px;
	float:left;
	margin:0 0 0px 0;
	width:290px;
	color:#fff;
	font-weight:400;
	text-transform:uppercase;/*background:#3a485a url(../img/bk_squares.png) 0 0 repeat;*/

}
/*FONTS*/
a {
	color:#00aeef /*1e89ca or 01aeeb or 0089cf*/;
	text-decoration:none;
}
a:hover {
	color:#1e89ca /*04769e*/;
	text-decoration:none;
}
h1, h2, h3, h4, h5 {
	margin:0;
	padding:0;
	font-weight:700;
}
.header_image_text h1 {
	font-size:24px;
	line-height:32px;
	font-weight:700;
	font-style:italic;
	text-align:right;
	margin:0 0 2px 0;
	display:inline;
	padding:1px 5px;
	color:#1e89ca !important;
	background:#fff;
}
h1 {
	font-size:40px;
	line-height:40px;
	font-weight:400;
	margin:0 0 0px 0px;
	padding:0 0 0 0px;
	text-transform:uppercase;
	color:#fff;
}
.title_detail h1 {
	font-size:40px;
	font-weight:400;
	margin:0 0 0px 0px;
	color:#819bbb;
	height:60px;
	line-height:60px;
	overflow:hidden;
	padding:0 0 0 0px;
	text-transform:uppercase;
	background:none;
}
.breadcrumb {
	width:625px;
	border-top:1px solid #2f3a47;
	border-bottom:1px solid #2f3a47;
	padding:0px 0 0 20px;
	height:30px;
	line-height:30px;
	margin:0 0 0 0;
	font-size:12px;
	font-weight:700;
	background:url(../img/bk_squares.png) 0 0 repeat;
}
h2, h2 a {
	font-size:20px;
	font-weight:700;
	padding:0 0 0 20px;
	display:block;
	margin:0 0 0 0;
	float:none;
	text-transform:uppercase;
	color:#999;
}
.column_left h2 , #column_center h2 {
		height:60px;
	line-height:60px;
	color:#0099ff;}
	
.column_right h2 {font-size: 15px;
	height:30px;
	line-height:30px;
}


h3 {
	font-size:18px;
	margin:20px 0 0px 0;
	font-weight:400;
	text-transform:uppercase;
	color:#ccc;
}
h3 strong {
	color:#FF6600;
}
h4 {
	margin:15px 0 0 0;
	padding:10px 0;
	font-weight:300;
	font-size:22px;
	line-height:28px;
	color:#819bbb;
	border-top:0px dotted #ddd;
	border-bottom:0px dotted #ddd;
	text-transform:uppercase;
}
.t0 {
	font-size:10px;
	color:#666;
}
.t1 {
	font-size:12px;
	color:#666;
}
/* ze extra css styles */
.no_border {
	border:none;
}
.clearall {
	clear:both;
}
.box_contact_us {
	padding:10px 30px 10px 0;
}
.lh20 {
	line-height:20px;
}
.loader_circle_sml {
	height:30px;
	width:30px;
	padding:0;
	margin:0 5px 0 0;
	line-height:30px;
	display:block;
	overflow:hidden;
	background:url(../img/front_s2/front_s2/loader_circle_sml.gif) 0 0 no-repeat !important;
	border:0px;
}
.jq_invalid_input {
	background-color:#ffcc00 !important;
}
/* done ze extra css styles */
	
/*END FONTS*/

/* SOCIAL*/

#twtr-widget-1 .twtr-bd, #twtr-widget-1 .twtr-timeline i a, #twtr-widget-1 .twtr-bd p {
	color:#fff;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
/*END SOCIAL*/

#lightbox-container-image {
	background:#3a485a !important;
}
#lightbox-container-image-data-box {
	background:#3a485a !important;
}
#lightbox-image-details {
	color:#fff !important;
}

#lightbox-container-image-box  {background:#3a485a !important;}

.payment_calculator { width:200px; margin:0 0 0 10px; color:#fff !important; background:#00aeef; padding:50px;}


.mod_fade { width:255px; height:200px; margin:10px 0 20px 0; padding:40px 30px; background:url(../img/bk_fade.png) 0 0 repeat-x; font-size:15px;line-height:23px; color:#0099ff;}