	<!-- title -->
	<title><?php if( isset( $seo_vehicle_label ) ): echo $seo_vehicle_label; else: ?>{if '{pyro:page:slug}' != ''}{pyro:page:title}{else}Inventario{/if}<?php endif; ?>{if '{pyro:page:slug}' != 'inicio'} | {pyro:variables:non_seo_dealer_inc_name}{/if} {pyro:variables:page_title_seo_suffix}</title>
    
    <!-- load css files -->
    {pyro:minifier:local_theme_files css_files="theme_8.css"}
    {pyro:minifier:remote_theme_files css_files="extras.css,lightbox.css"}
    
    <!-- load typekit -->
    {pyro:widget_fetcher:instance id="42"}
    <!-- end load typekit -->
    
    <!-- load javascript on remote server -->
    {pyro:minifier:remote_theme_files js_files="jquery.min.js,jquery.jshowoff.min.js,mdv.api.js,jquery.jcarousel.min.js,jquery.lightbox.0.5.pack.js,jquery.maskedinput.min.js"}
    
<?php if( isset( $js_vars ) ): ?>
    <!-- Load JS vars required -->
	<script>
<?php foreach( $js_vars as $v ):
		echo $v;
   endforeach; ?>
	</script>
<?php endif; ?>
    
    <!-- favicon -->
    {pyro:theme:favicon file="favicon.ico" base="url"}
    
    <!-- meta information -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {pyro:template:metadata}
    
    <!-- init newsletter box -->
    <script>newsletter_API.init();</script>