		<!-- start footer -->
		{pyro:theme:partial name="footer"}
		<!-- end footer --> 
    
	</div>
	<!--end container --> 
    
	<!-- start image footer -->
	<div class="footer_image"></div>
	<!-- end image footer --> 
    
    <!-- start copyright text -->
    {pyro:widgets:instance id="28"}	<!-- instance 28: copyright widget -->
    <!-- end copyright text -->
    
    <!-- google analytics -->
    {pyro:widgets:instance id="29"} <!-- instance 29: google analytics -->
    <!-- end google analytics -->
    
</body>
</html>