        <div id="header"> 
        
            <!--logo-->
            <div class="box_logo" title="{pyro:variables:dealer_inc_name} {pyro:variables:page_title_seo_suffix}"><a href="{pyro:url:base}" title="{pyro:variables:dealer_inc_name} {pyro:variables:page_title_seo_suffix}"></a></div>
            <!--end logo--> 
        
            <!--header links-->
            <div class="box_header_links">
                <ul>
                	{pyro:widget_fetcher:area slug="header"}
                </ul>
            </div>
            <!--end header links--> 
        
            <!--main menu-->
            <div class="box_menu">
                <ul>
			{pyro:navigation:links group="Header" class="active"}
	                <li class="{pyro:url_decode:activate_current url='{url}'}"><a href="{url}">{title}</a></li>
			{/pyro:navigation:links}
                </ul>
                
            </div>
            <!--end main menu--> 
        
		</div>