            <section class="gallery-block">
                <div class="gallery">
                    <a href="#" class="btn-prev">&lt;</a>
                    <div class="holder">
                        <div class="frame">
                            <div class="inner">
                                <ul>
                                    <li>
<iframe id='a09ee09b' name='a09ee09b' src='http://ads.negocealo.com/www/delivery/afr.php?zoneid=109&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='300' height='250' allowtransparency='true'><a href='http://ads.negocealo.com/www/delivery/ck.php?n=a98866a0&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ads.negocealo.com/www/delivery/avw.php?zoneid=109&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a98866a0' border='0' alt='' /></a></iframe>

                                    </li>
                                    <li>
<iframe id='ae783c68' name='ae783c68' src='http://ads.negocealo.com/www/delivery/afr.php?zoneid=110&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='300' height='250'><a href='http://ads.negocealo.com/www/delivery/ck.php?n=ae30c83c&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ads.negocealo.com/www/delivery/avw.php?zoneid=110&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=ae30c83c' border='0' alt='' /></a></iframe>
									</li>
                                    <li>
                              
<iframe id='a6004f58' name='a6004f58' src='http://ads.negocealo.com/www/delivery/afr.php?zoneid=111&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='300' height='250'><a href='http://ads.negocealo.com/www/delivery/ck.php?n=a2e71a36&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ads.negocealo.com/www/delivery/avw.php?zoneid=111&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a2e71a36' border='0' alt='' /></a></iframe>

                                    </li>
                                    <li>
<iframe id='a80a51a6' name='a80a51a6' src='http://ads.negocealo.com/www/delivery/afr.php?zoneid=112&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='300' height='250' allowtransparency='true'><a href='http://ads.negocealo.com/www/delivery/ck.php?n=a7f56152&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ads.negocealo.com/www/delivery/avw.php?zoneid=112&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a7f56152' border='0' alt='' /></a></iframe>

                                    </li>
                                    <li>
                   
<iframe id='a790896b' name='a790896b' src='http://ads.negocealo.com/www/delivery/afr.php?zoneid=113&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='300' height='250' allowtransparency='true'><a href='http://ads.negocealo.com/www/delivery/ck.php?n=a937469f&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ads.negocealo.com/www/delivery/avw.php?zoneid=113&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a937469f' border='0' alt='' /></a></iframe>

                                    </li>
                                    <li>
        <iframe id='adeb30e6' name='adeb30e6' src='http://ads.negocealo.com/www/delivery/afr.php?zoneid=114&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='300' height='250' allowtransparency='true'><a href='http://ads.negocealo.com/www/delivery/ck.php?n=a2bc30d9&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ads.negocealo.com/www/delivery/avw.php?zoneid=114&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a2bc30d9' border='0' alt='' /></a></iframe>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn-next">&gt;</a>
                </div>
            </section>