{pyro:theme:partial name="session"}
<!DOCTYPE html>
<html>
<head>
{pyro:theme:partial name="metadata"}
</head>
<body>
	<div id="wrapper" class="{if '{pyro:page:slug}' == 'inicio'}is-home{else}not-home{/if}">
{pyro:theme:partial name="header"}
		<div id="main">
{pyro:theme:partial name="router"}
		</div>
        <!-- open section#footer -->
{pyro:widget_fetcher:instance id="1"}
        <!-- close section#footer -->


        <!-- open coupon -->
        <!-- <a href="#" class="coupon-link">Coupon</a> -->
        <!-- close coupon -->
	</div>
    
    <script type="text/javascript" src="//use.typekit.net/okg4puf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


    <!-- open google analytics script -->
	<script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{pyro:variables:google_analytic_code}']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
    <!-- close google analytics script -->

    <!--Begin Comm100 Live Chat Code-->
    <script type="text/javascript">
        var Comm100API = Comm100API || new Object;
        Comm100API.chat_buttons = Comm100API.chat_buttons || [];
        var comm100_chatButton = new Object;
        comm100_chatButton.code_plan = 5000001;
        comm100_chatButton.div_id = 'comm100-button-5000001';
        Comm100API.chat_buttons.push(comm100_chatButton);
        Comm100API.site_id = 47054;
        Comm100API.main_code_plan = 5000001;
        var comm100_lc = document.createElement('script');
        comm100_lc.type = 'text/javascript';
        comm100_lc.async = true;
        comm100_lc.src = 'https://chatserver.comm100.com/livechat.ashx?siteId=' + Comm100API.site_id;
        var comm100_s = document.getElementsByTagName('script')[0];
        comm100_s.parentNode.insertBefore(comm100_lc, comm100_s);
    </script>
    <!--End Comm100 Live Chat Code-->

    <!-- new ADS -->
    <script type="text/javascript">
    var p="http",d="static";if(document.location.protocol=="https:"){p+="s";d="engine";}var z=document.createElement("script");z.type="text/javascript";z.async=true;z.src=p+"://"+d+".adzerk.net/ados.js";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(z,s);
    var ados = ados || {};
    ados.run = ados.run || [];
    ados.run.push(function() {
    /* load placement for account: Mi Dealer Virtual, site: Cabrera Auto, size: 300x250 - Medium Rectangle, zone: 300 x 250 - 1*/
    ados_add_placement(1587, 53603, "azk9629", 5).setZone(54048);
    /* load placement for account: Mi Dealer Virtual, site: Cabrera Auto, size: 300x250 - Medium Rectangle, zone: 300 x 250 - 2*/
    ados_add_placement(1587, 53603, "azk31083", 5).setZone(54135);
    /* load placement for account: Mi Dealer Virtual, site: Cabrera Auto, size: 300x250 - Medium Rectangle, zone: 300 x 250 - 3*/
    ados_add_placement(1587, 53603, "azk79376", 5).setZone(54136);
    /* load placement for account: Mi Dealer Virtual, site: Cabrera Auto, size: 300x250 - Medium Rectangle, zone: 300 x 250 - 4*/
    ados_add_placement(1587, 53603, "azk97838", 5).setZone(54138);
    /* load placement for account: Mi Dealer Virtual, site: Cabrera Auto, size: 300x250 - Medium Rectangle, zone: 300 x 250 - 5*/
    ados_add_placement(1587, 53603, "azk84362", 5).setZone(54139);
    /* load placement for account: Mi Dealer Virtual, site: Cabrera Auto, size: 300x250 - Medium Rectangle, zone: 300 x 250 - 6*/
    ados_add_placement(1587, 53603, "azk17963", 5).setZone(54140);
    ados_load();
    });
    </script>
    <!-- End new ADS -->

    <script>
      mdv.init({
        did : 'CAG',
        templatesUrl:'/addons/default/themes/mdv_theme_23/views/partials/hb_templates.html'
      });
    </script>
</body>
</html>