		<header id="header">
			<div class="header-holder">
				<h1 class="logo"><a href="{pyro:url:site}inicio" title="Dealer Virtual de {pyro:variables:dealer_inc_name} | {pyro:variables:dealer_inc_name} {pyro:variables:page_title_seo_suffix}">Cabrera Auto</a></h1>
				<nav class="nav">
					<ul id="nav">
{pyro:navigation:links group="Header" class="active"}
						<li>
                            <a href="{url}" title="{title} | {pyro:variables:dealer_inc_name} {pyro:variables:page_title_seo_suffix}">{title}</a>
{if '{title}' == 'INVENTARIO VIRTUAL'}
{pyro:widget_fetcher:instance id="18"}
{elseif '{title}' == 'SOLICITAR'}
{pyro:widget_fetcher:instance id="19"}
{elseif '{title}' == 'SOBRE'}
{pyro:widget_fetcher:instance id="20"}
{/if}
                        </li>
{/pyro:navigation:links}
					</ul>
				</nav>
				<nav class="mobile-nav">
					<ul>
						<li><a href="tel:{pyro:variables:official_telephone}" title="Número Telefónico de {pyro:variables:dealer_inc_name} | {pyro:variables:dealer_inc_name} {pyro:variables:page_title_seo_suffix}" class="mobile-link-1">Ventas de <br/> Cabrera</a></li>
						<li><a href="tel:{pyro:variables:service_telephone}" title="Número Telefónico de {pyro:variables:dealer_inc_name} | {pyro:variables:dealer_inc_name} {pyro:variables:page_title_seo_suffix}" class="mobile-link-1">Piezas y <br/>Servicio</a></li>
						<li><a href="{pyro:url:site}inventario" title="Inventario de {pyro:variables:dealer_inc_name} | {pyro:variables:dealer_inc_name} {pyro:variables:page_title_seo_suffix}" class="mobile-link-2">Inventario <br /> Virtual</a></li>
						<li><a href="{pyro:url:site}servicio" title="Servicio de {pyro:variables:dealer_inc_name} | {pyro:variables:dealer_inc_name} {pyro:variables:page_title_seo_suffix}" class="mobile-link-3">Cita de <br/>Servicio</a></li>
					</ul>
				</nav>
				<div class="info">
					<dl class="tel">
						<dt>Ventas:</dt>
						<dd> <strong>{pyro:variables:official_telephone}</strong></dd>
						<dt>Servicio:</dt>
						<dd> <strong>{pyro:variables:service_telephone}</strong></dd>
					</dl>
					<div class="holder tel2">
						<span>Piezas: <strong>{pyro:variables:parts_telephone}</strong></span>
						<span>Renta: <strong>{pyro:variables:rent_telephone}</strong></span>
                        
					</div>
				</div>
			</div>
		</header>
