{pyro:theme:partial name="top"}
    
    	<!-- start main -->
        <div id="main" class="clearfix">
        
			<!-- start box column center -->
			<div id="column_center" class="clearfix">
				{pyro:template:body}
			</div>
			<!-- end box column center -->
            
            <!-- bottom ads -->
            <div class="box_ads">
                {pyro:widget_fetcher:area slug="homepage-ads"}
            </div>
            <!-- end bottom ads -->
		
        </div>
    	<!-- end main -->
    
{pyro:theme:partial name="bottom"}