{pyro:theme:partial name="top"}
    
    	<!-- start main -->
        <div id="main" class="clearfix">
        	<!-- column left-->
			<div class="column_left">
            	{pyro:template:body}
            </div>
            <!-- end column left -->
            
        	<!-- column right -->
			<div class="column_right">
            {if '{pyro:page:slug}' == 'piezas-y-servicio'}
                {pyro:widget_fetcher:area slug="parts-services-sidebar"}
            {elseif '{pyro:page:slug}' == 'sobre-nosotros'}
                {pyro:widget_fetcher:area slug="about-us-sidebar"}
            {elseif '{pyro:page:slug}' == 'contactenos'}
                {pyro:widget_fetcher:area slug="contact-us-sidebar"}
            {else}
            	{pyro:widget_fetcher:area slug="contact-us-sidebar"}
            {/if}
            </div>
            <!-- end column right -->
            
            {if '{pyro:page:slug}' != ''}
            <!-- column center -->
			<div id="column_center" class="clearfix">
            	<!-- bottom ads -->
                <div class="box_ads">
                	{pyro:widget_fetcher:area slug="homepage-ads"}
                </div>
                <!-- end bottom ads -->
            </div>
            <!-- end column center -->
            {/if}
            
			
        </div>
    	<!-- end main -->
    
{pyro:theme:partial name="bottom"}